html {
  overflow: hidden;
  height: 100%;
}
body {
  background-color: #000000;
  margin: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.container {
position: relative;
text-align: center;
color: white;
width: 100vw;
}
#localVideo{
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  object-fit: cover;
}
a{
    color: #fff; 
    }
select {
  width: 180px;
}

#userCntView {
          position: absolute;
          color: white;
          right: 12px;
          top: 12px;
          z-index: 3;
          background-color: black;
          border-radius: 3px;
          padding: 10px 15px;
        }
#userCntView #count {
          margin: 0;
          font-size: 13px;
        }
#publishBtn {
background-color: #2ea00b;
opacity: 80%;
color: #ffffff;
background-position: absolute;
padding: 12px;
border-radius: 100%;
-moz-border-radius: 100%;
-webkit-border-radius: 100%;
margin:10px
}
#publishBtn:focus{
background-color:red;
  }


#micMuteBtn {
    
background-color: #2ea00b;
opacity: 80%;
color: #ffffff;
background-position: absolute;
padding: 12px;
border-radius: 100%;
-moz-border-radius: 100%;
-webkit-border-radius: 100%;
 margin:10px
    }
#micMuteBtn:focus{
background-color:red;

  }
#viewerURL{
position: absolute;
top: 8px;
right: 80%;
padding-bottom: 5%;
}
#aspect{
        background-color: #2ea00b;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
    }

#aspectNormal {
        background-color: #2ea00b;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
    }
  .slider {
  color: red;
    -webkit-appearance: none;
     width: 4.2em;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}
.container {
    position: relative;
    text-align: center;
    color: white;
    width: 100vw;
}

/* Bottom left text */
.bottom-left {
    position: fixed;
    bottom: 2px;
    left: 43%;
}
/* Top left text iframe*/
.top-left {
position: fixed;
top: 5%;
width:23%;
height: 20%;
left:13%;
}

/* Top right text */
.top-right {
position:fixed;
top:2%;
left:0;
}

/* Bottom right text */
.bottom-right {
position: absolute;
bottom: 8px;
right: 55%;
padding-bottom: 10%;
}

/* Centered text */
.centered {
   position: absolute;
   margin-left; 40%;
    top: 8px;
    left: 16px;  
}
/* Select text */
.selectSS {
opacity: 80%;
position: absolute;
right: 132%;
bottom: 7%;

}
.selectSS-content {
  display: none;
  position: absolute;

}
.selectSS:hover .select1-content {
  display: block;
  opacity: 100%;
  right: 5%;
  bottom: 100%; 
  width: 240px;
}

.select1 {
position: absolute;
opacity: 80%;
right: 102%;
bottom: 7%;

}
.select1-content {
  display: none;
  position: absolute;

}
.select1:hover .select1-content {
  display: block;
  right: 5%;
  bottom: 100%; 
  width: 240px;
}

.select2 {
position: absolute;
opacity: 80%;
left:100%;
bottom: 7%;
}
.select2-content {
  display: none;
  position: absolute;

}
.select2:hover .select2-content {
  display: block;
   right: 5%;
  bottom: 100%; 
  width: 240px;
}
.select3 {
position: absolute;
opacity: 80%;
left:128%;
bottom: 7%;
}
.select3-content {
  display: none;
  position: absolute;

}
.select3:hover .select3-content {
  display: block;
  right: 5%;
  bottom: 100%; 
  width: 220px;
}
.select4 {
position: absolute;
opacity: 80%;
left:155%;
bottom: 7%;
}
.select4-content {
  display: none;
  position: absolute;

}
.select4:hover .select4-content {
  position: absolute;
  z-index: 1;
  display: block;
  cursor: pointer;
  bottom: 50%;
  left: 5%;
  width: 100px;
}
.selectBit {
position: absolute;  
top:0;
left: 2%;
}
.selectBit-content {
  display: none;
  position: absolute;
}
.selectBit:hover .selectBit-content {
  display: block;
  position: center;
  text-align: center;
  top: 100%;
  left: 5%; 
  width: 100px;
}
#iframe{
border: -1px;
height: 20%;
width: 100%;

}
table, th, td {
 color: #edf0f2; 
}

#localVideo{
width: 100vw;
height: 100vh;
left: 0;
right: 0;
}
img {
position:left;
padding:5px;
width: 42px;
}
.account-data{
   display: block;
   position: fixed;
   top:0;
   right:40%;
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background: url("../images/cog.png") no-repeat;
  background-size:100%;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 3%;
  height: 8%;

}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid #f1f1f1;
  z-index: 9;

}

/* Add styles to the form container */
.form-container {
  max-width: 200px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #000000;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=bitrate]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
       background-color: red;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
}

/* Add a red background color to the cancel button */
.form-container .cancel {
       background-color: red;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#cancel{
       background-color: red;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
}
#aspect {
        background-color: #313630;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
    }
#bitrate {
        background-color: #313630;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
    }

#codec {
        background-color: #313630;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
  }
  #framerate {
        background-color: #313630;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
  }
