html {
  overflow: hidden;
  height: 100%;
}
body {
  background-color: #000000;
  margin: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.container {
position: relative;
text-align: center;
color: white;
width: 100vw;
}
#localVideo{
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  object-fit: contain;
}
a{
color: #fff;
font-size:18px;
}

#userCntView {
          position: fixed;
          color: white;
          right: 12px;
          top: 12px;
          z-index: 3;
          background-color: black;
          border-radius: 3px;
          padding: 10px 15px;
        }
#userCntView #count {
          margin: 0;
          font-size: 13px;
        }
#publishBtn {
border-radius: 25px;
background-color: #2ea00b;
opacity: 80%;
color: #ffffff;
background-position: absolute;
padding: 10px;

margin:1px
}
#publishBtn:focus{
border-radius: 25px;
background-color:red;
animation: blinker 1s linear infinite;
  }


#micMuteBtn {
border-radius: 25px;
background-color: #2ea00b;
opacity: 80%;
color: #ffffff;
background-position: absolute;
padding: 10px;

margin:1px
    }
#micMuteBtn:focus{
border-radius: 25px;
background-color:red;

  }
#viewerURL{
}

.slider {
  color: red;
    -webkit-appearance: none;
     width: 4.2em;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}
.container {
    position: relative;
    text-align: center;
    color: white;
    width: 100vw;
}

.dock{
  position: absolute;
  bottom: 0px;
  left: 0;
}
/* Select text */

/* style the items (options), including the selected item: */
 .select-selected:after {
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
}/*selector end  */

.vidpub{
position:fixed;
left: 0;
bottom:0;
width:12%;
height:8%;
padding-left: 1%;

}


.cam-select {
float: left;
opacity: 80%;
padding: 1px;
display: inline-block;
}
.cam-select-content {
 display: none;
 position: absolute;

}
.cam-select:hover .cam-select-content {
  display: block;
  left: 6%;
  bottom: 100%;
  width: 250px;
  z-index: 1;
  cursor: pointer;
}

.mic-select {
  position:absolute;
  opacity: 80%;
  float: right;
  padding: 1px;

  display: inline-block;
}
.mic-select-content {
  display:none ;
  position: absolute;
  
}
.mic-select:hover .mic-select-content {
  display: block;
  left: 6%;
  bottom: 100%;
  width: 250px; 
  cursor: pointer;
}
.screen-select{
  position:absolute;
  opacity: 80%;
  float: right;
  padding-left: 55%;
  display: inline-block;

}

.publishing {
 position:fixed;
 opacity: 80%;
 left: 38%;
 bottom:0;
 padding-bottom:1%;
}

.vidshare{
position:fixed;
right:0;
bottom:0;
width:12%;
height:8%;
padding-right:2%;

}

.spk-select {
  position:absolute;
  opacity: 80%;
  float: right;
  padding: 1px;
  display: inline-block;
   
}
.spk-select-content {
  display: none;
  position: absolute;
  right: 6%;

}
.spk-select:hover .spk-select-content {
  display: block;
  right: 6%;
  bottom: 100%;
  width: 250px;
}
.share-select {
float: left;
opacity: 80%; 
padding: 1px;
display: inline-block;


}
.share-select-content {
  display:none;
  position: absolute;
  padding-right:1%;

}
.share-select:hover .share-select-content {
  display:block;
  font-size:1em;
  content: url("<a id="viewerUrl"   href="" target="_blank" class="share-select-content" ></a>") ;
  right: 15%;
  bottom: 120%;
  padding-right:80%;
  width: 250px;
  visibility: visible;
}
.share-select:hover:after{

}
.bitrate-select {
position: absolute;
top:0;
left: 2%;
}
#iframe{
border: -1px;
height: 20%;
width: 100%;

}
table, th, td {
 color: #edf0f2;
}

#localVideo{
width: 100vw;
height: 100vh;
left: 0;
right: 0;
}

img {
border-radius:25px;
position:left;
padding:0px;
width: 42px;
height:42px;
background:#000000;
}
.account-data{
   display: block;
   position: fixed;
   top:0;
   right:40%;
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background: url("../images/cog.png") no-repeat;
  background-size:100%;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 4%;
  height: 10%;
  padding-left: 1%;
  padding-top: 1%;

}
select {
  width: 150px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  cursor: pointer;
}

/* Style items (options): */
.select-items {
}

/* Hide the items when the select box is closed: */
.select-hide {

}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid #f1f1f1;
  z-index: 9;

}

/* Add styles to the form container */
.form-container {
  max-width: 200px;
  padding: 12px;
  background-color: rgba(0,0,0,0.5); 

}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=text] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 0px 0;
  border: none;
  background: #000000;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=bitrate]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
       background-color:red;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
}

/* Add a red background color to the cancel button */
.form-container .cancel {
       background-color: red;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.bitrate-select-content {
        background-color: #313630;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px

    }

.fps-select-content  {
        background-color: #313630;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
  }
 .codec-select-content  {
        background-color: #313630;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
  }
.size-select-content{
        background-color: #313630;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
  }
#aspect16{
        background-color: #313630;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
         margin:10px
    }

#aspect4 {
        background-color: #313630;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
         margin:10px
    }

 #cancel{
       background-color:#313630;;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
}

