body {
    background: #e2e1e0;
    text-align: center;
    margin: 0px;
    padding: 0px;
    }

    body, html, button, input, select, textarea {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    }
   video {
   width: 100%;
   height: auto;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
  
   }
   #wrapper {
    display:table;
    width:auto;
    position:relative;
 
    }
   .btn-audio {
     /* background-image:url(images/play.png); */
    background-repeat:no-repeat;
    background-color: #78756d;
    color: white; 
    font-size: 16px;
    width:20%;
    height:15%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:40%;
    margin:auto;
    background-size:contain;
    background-position: center;
    top: 2%;
   /*animation: cssAnimation 0s 5s forwards;
   opacity: 0; 
  }
@keyframes cssAnimation {
  to   { visibility: visible; }
}*/
}


input.btn-audio {
      top: 0px;
      right: 28%;
      position: absolute;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

     width: 26%;
    height:9%;

    color: #ffffff;
    font:.8em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  
    padding:3%;
    opacity: 0.8;
  
    border: 0.06666em solid #fff;
    background-color:rgba(64,64,64,1);
    -moz-background-size:10%;
    -webkit-background-size:10% ;
    border:3px solid transparent;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border-bottom:1px transparent;
    -moz-box-shadow:inset 0 1px 0 rgba(192,192,192,0.3);
    -webkit-box-shadow:inset 0 1px 0 rgba(192,192,192,0.3);
    box-shadow:inset 0 1px 0 rgba(192,192,192,0.3);
    cursor:pointer

}

input.btn-audio:hover {
    background-color:rgba(8,8,8,1);
    color: #F0F8FF;
}

input.showl {
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 15%;
    height:8%;
    
    color:#ffffff;
    font:.8em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  
    padding:5%;
    padding-left:3px;
    opacity: 0.8;
    border: 0.06666em solid #fff;
    background-image: () repeat-x center #ffcc00;
    background-color:rgba(64,64,64,1);
      -moz-background-size:10%;
     -webkit-background-size:10% ;
    border:5px solid transparent;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border-bottom:1px transparent;
    -moz-box-shadow:inset 0 1px 0 rgba(192,192,192,0.3);
    -webkit-box-shadow:inset 0 1px 0 rgba(192,192,192,0.3);
    box-shadow:inset 0 1px 0 rgba(192,192,192,0.3);
    cursor:pointer;
}
input.showl:hover {
    background-color:rgba(8,8,8,1);
    color: F0F8FF;

}
input.hidel {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

  width: 15%;
    height:8%;
    
    color:#ffffff;
    font:.8em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  
    padding:5%;

    padding-left:3px;
    opacity: 0.8;
    border: 20px;
    border: 0.06666em solid #fff;
    background-image: () repeat-x center #ffcc00;
    background-color:rgba(64,64,64,1);
    -moz-background-size:10%;
    -webkit-background-size:10% ;
    border:5px solid transparent;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border-bottom:1px transparent;
    -moz-box-shadow:inset 0 1px 0 rgba(192,192,192,0.3);
    -webkit-box-shadow:inset 0 1px 0 rgba(192,192,192,0.3);
    box-shadow:inset 0 1px 0 rgba(192,192,192,0.3);
    cursor:pointer;
}
input.hidel:hover {
    background-color:rgba(8,8,8,1);
    color: #ffffff;
}






 